#cartLink {
    color: rgb(253, 105, 53);
}

container {
    box-sizing: border-box;
}

.jumbotron {
    text-align: center;
    color: white;
    background-image: url("assets/img/img-hero-1.png");
    margin-bottom: 0;
    border-radius: 0;
}

.jumbotron p {
    font-size: 1.0rem;
}

#searchP div {
    display: inline-block;
    background: rgb(253, 105, 53);
    width: 30px;
    height: 30px;
}

ul li a {
    color: darkgray;
}

subHeader ul {
    position: relative;
    transform: translateY(0%) translateX(-50%);
    left: 50%;
}

subHeader nav ul li a:hover {
    text-decoration: underline;
    color: rgb(253, 105, 53); 
}

.card {
    padding: 0;
}

.cart {
    position: absolute;
    top: 10px;
    right: 10px;
    background: rgb(253, 105, 53);
    width: 20px;
    height: 20px;
    border-radius: 9px;
}

.cart img {
    width: 12px;
    height: 12px;
    display: block;
    margin: 4px auto;   
}

div.col-xs-12.col-sm-6.col-md-3 {
    padding: 4px;
}

.item, .brand, .price {
    text-align: center;
    margin-bottom: 0px;
}

.item {
    font-size: 12px;
    
}

.brand {
    font-size: 11px;
    font-style: italic;
    color: darkgray;
}

.price {
    font-size: 12px;
    color: rgb(253, 105, 53);
    margin-bottom: 10px;
}

.itemImg {
    position: relative;
    width: 100%;
    margin-bottom: 10px;
}